.header {
  max-width: 1216px;
  margin: 0 auto;
  padding: 28px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-name {
  font-weight: 700;
  font-size: 18px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  padding: 0px 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
}
